# Functions

In [ ]:
#Digunakan untuk memudahkan dan mempercepat proses pembuatan program

#Fungsi dapat dituliskan secara umum sbb :
def function_name():
    function_body
    ...

In [1]:
#Contoh

def hello(name):    # defining a function
    print("Hello,", name)    # body of the function


name = input("Enter your name: ")

hello(name)    # calling the function

Enter your name: asep
Hello, asep

In [2]:
#Parameter Fungsi

#Parameter sebenarnya variabel yang memiliki 2 faktor utama, yaitu :
# 1. parameter hanya ada di dalam fungsi ditempat ia didefinisikan, yaitu didalam () pada statement def;
# 2. menetapkan nilai ke parameter dilakukan pada saat pemanggilan fungsi, dengan menentukan argumen yang sesuai.

#Secara umum parameter fungsi dituliskan sbb : 
def function(parameter):
    ## Body ##

In [3]:
#Contoh 
def message(number):
    print("Enter a number:", number)
message(1)

Enter a number: 1

In [4]:
#Parameter dapat dibuat lebih dari 1, contohnya 

def message(what, number):
    print("Enter", what, "number", number)

# invoke the function
message("telephone", 11)
message("price", 5)
message("address", "7 , Manhattan, New York")
message("number", "number")

Enter telephone number 11
Enter price number 5
Enter address number 7 , Manhattan, New York
Enter number number number

In [2]:
def pesan(nama, hp):
    print("Nama : ", nama, "Merk HP : ", hp)

pesan("Isro","Redmi Note 9")
pesan("Rizky","Samsung Note 9")

Nama :  Isro Merk HP :  Redmi Note 9
Nama :  Rizky Merk HP :  Samsung Note 9

In [4]:
def tambahUsia(nama, usia):
    usia = usia + 0.5
    print(nama, usia)
    
tambahUsia("Isro",22)

Isro 22.5

In [ ]:
#Parameter passing

#Mengubah nilai dari parameter awal berdasarkan parameter akhir

#Contoh 1
def my_function(a, b, c):
    print(a, b, c)

my_function(1, 2, 3)

#Contoh 2
def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

introduction("Luke", "Skywalker")
introduction("Jesse", "Quick")
introduction("Clark", "Kent")

#Contoh 3
def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

introduction("Skywalker", "Luke")
introduction("Quick", "Jesse")
introduction("Kent", "Clark")

In [6]:
#Keyword argument passing
#Mengambil nilai dari parameter

def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

introduction(first_name = "James", last_name = "Bond")
introduction(last_name = "Skywalker", first_name = "Luke")

Hello, my name is James Bond
Hello, my name is Luke Skywalker

In [7]:
def adding(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)

adding(1, 2, 3)
adding(c = 1, a = 2, b = 3)
adding(3, c = 1, b = 2)
adding(4, 3, c = 2)

1 + 2 + 3 = 6
2 + 3 + 1 = 6
3 + 2 + 1 = 6
4 + 3 + 2 = 9

In [12]:
#Default parameter

def introduction(FName="Robert", LName="Johnson"):
    print("Hello, My Name is ", FName, LName)
    
introduction(FName="Dwayne")
introduction(LName="Jackson")

Hello, My Name is  Dwayne Johnson
Hello, My Name is  Robert Jackson

In [ ]:
#Default Parameter

def introduction(first_name, last_name="Smith"):
    print("Hello, my name is", first_name, last_name)

introduction(first_name = "Isro'", last_name = "Rizky Wibowo")

In [16]:
#Default Parameter

def introduction(FName, MName, LName ):
    print("Hello, My Name is", FName, MName, LName)
    
introduction(FName="Dwayne", MName="Robert", LName="Johnson")

Hello, My Name is Dwayne Robert Johnson

## Function with return

In [21]:
def luasLingkaran(r):
    import math
    pi = math.pi
    luas = pi * r * r
    return luas

def luasSegitiga(a, t):
    luas = 0.5 * a * t
    return luas

x = luasLingkaran(6)
y = luasSegitiga(5, 10)

print(x)
print(y)

113.09733552923255
25.0

In [24]:
def contohFungsi():
    print("Halloo...")
    return 123

z = contohFungsi()

print(z)
print("Test")

Halloo...
123
Test

In [26]:
def strangeFunction(n):
    if(n % 2 == 0):
        return True
    
print(strangeFunction(4))
print(strangeFunction(3))

True
None

In [29]:
def sumOfList(lst):
    sum = 0
    for elem in lst:
        sum += elem
    return sum
x = sumOfList([2,2,2,2,2,2,2,2,2,2])
print(x)

20

In [34]:
#Strange List

def strangeListFunction(n):
    stList = []
    
    for i in range(0, n):
        print("insert",i)
        stList.insert(0, i)
        print(stList)
        
        return stList

print("Hasil : ", strangeListFunction(10))

insert 0
[0]
Hasil :  [0]

In [22]:
#Result instruction
#1. Result without expression
#ketika digunakan didalam fungsi, dapat memberhentikan langsung eksekusi fungsi dan langsung mereturn ke titik pemanggilan

def happy_new_year(wishes = True):
    print("Three...")
    print("Two...")
    print("One...")
    if not wishes:
        return

    print("Happy New Year!")
    
happy_new_year()

Three...
Two...
One...
Happy New Year!

In [24]:
#2. Result with expression
#memberhentikan langsung eksekusi fungsi dan fungsi akan mengevaluasi nilai ekspresi dan akan mereturn sebagai hasil dari fungsi

#Contoh 1
def boring_function():
    return 123

x = boring_function()

print("The boring_function has returned its result. It's:", x)

#Contoh 2
def boring_function():
    print("'Boredom Mode' ON.")
    return 123

print("This lesson is interesting!")
boring_function()
print("This lesson is boring...")

The boring_function has returned its result. It's: 123
This lesson is interesting!
'Boredom Mode' ON.
This lesson is boring...

In [30]:
#Leap Year Program

def is_year_leap(year):
    if year % 4 != 0 :
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else :
        return True

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
    yr = test_data[i]
    print(yr,"->",end="")
    result = is_year_leap(yr)
    if result == test_results[i]:
        print("OK")
    else:
        print("Failed")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK

In [33]:
def is_year_leap(year):
    if year % 4 != 0 :
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else :
        return True

def days_in_month(year, month):
    days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] # <- days in years every months
    res = days[month - 1]
    
    if month > 12:
        return None
    elif is_year_leap(year) and month == 2: #Posisi bila tahun kabisat
        return 29 
    else:
        return res

test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
    yr = test_years[i]
    mo = test_months[i]
    print(yr, mo, "->", end="")
    result = days_in_month(yr, mo)
    if result == test_results[i]:
        print("OK")
    else:
        print("Failed")

1900 2 ->OK
2000 2 ->OK
2016 1 ->OK
1987 11 ->OK

## Scope in Function

In [37]:
def scopeTest():
    print(a)
    b = 200
    print(b)
    
a = 100
scopeTest()

100
200

In [38]:
def myFunction():
    print("Do i know that variable?", var)
    
var = 1
myFunction()
print(var)

Do i know that variable? 1
1

In [39]:
def myFunction():
    global var
    var = 2
    print("Do i know that variable?", var)
    
var = 1
myFunction()
print(var)

Do i know that variable? 2
2

In [58]:
# Some Function Example
#BMI (Body, Mass, Index)

def bmi(weight, height):
    return weight / height ** 2

print(bmi(60, 1.67))

21.513858510523864

In [42]:
#Segitiga

def isItTriangle(a, b, c):
    if a + b <= c:
        return False
    if b + c <= a:
        return False
    if c + a <= b:
        return False
    
    return True

print(isItTriangle(1,1,1))
print(isItTriangle(3,4,5))
print(isItTriangle(2,1,5))

True
True
False

In [46]:
#Faktorial

def factorialFun(a):
    if a < 0 :
        return None
    if a < 2 :
        return 1
    
    product = 1
    for i in range(2, a + 1):
        product *= i
    return product

for a in range(1, 15):
    print(a, factorialFun(a))

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800
11 39916800
12 479001600
13 6227020800
14 87178291200

In [60]:
#Fibonacci

def fib(n):
    if n < 1:
         return None
    if n < 3:
        return 1

    elem1 = elem2 = 1
    sum = 0
    for i in range (3, n + 1):
        sum = elem1 + elem2
        elem1, elem2 = elem2, sum
    return sum

#Call the Function here
for n in range(1, 10): #testing
    print(n, ">", fib(n))

1 > 1
2 > 1
3 > 2
4 > 3
5 > 5
6 > 8
7 > 13
8 > 21
9 > 34

In [61]:
#Recursion
#memanggil fungsi didalam fungsi

#recursion 1
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1
    return fib(n - 1) + fib(n - 2)

for n in range(1, 10): # testing
    print(n, ">", fib(n))

#recursion 2
    
# def fun(a):
#     if a > 30:
#         return 3
#     else:
#         return a + fun(a + 3)


# print(fun(25))

1 > 1
2 > 1
3 > 2
4 > 3
5 > 5
6 > 8
7 > 13
8 > 21
9 > 34

In [55]:
#Stop Word Removal

kalimat = "Ibu pergi ke pasar dengan bapak"
stopw = ['ke', 'dengan', 'saya', 'dia']

def removeStop(sentence):
    words = [word for word in sentence.split() if word not in stopw]
    
    return ' '.join(words)

kalimat_stop = removeStop(kalimat.lower())
print(kalimat_stop)

ibu pergi pasar bapak

# #Tuples and Dictionaries

In [ ]:
#Penjelasan

In [ ]:
myTuple = (1, 2, True, "a string", (3, 4), [5, 6], None)
#Print Function here
print(myTuple)

myList = [1, 2, True, "a string", (3, 4), [5, 6], None]
#Print Function here
print(myList)

### Dictionaries

In [53]:
#penjelasan

In [56]:
kamus = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}
phoneNumbers = {'boss' : 5551234567, 'Suzy' : [22657854310,52852352]}
emptyDictionary = {}

print()
print(phoneNumbers)
print(emptyDictionary)

{'boss': 5551234567, 'Suzy': [22657854310, 52852352]}
{}

In [57]:
print(kamus['cat'])
print(phoneNumbers['Suzy'])
print(phoneNumbers['Suzy'][0])

chat
[22657854310, 52852352]
22657854310