In [1]:
print(2)
print(type(2))
print("2")
print(type("2"))

2
<class 'int'>
2
<class 'str'>

In [2]:
#Type data float
print(9.0)
print(.8)
print(7.)

9.0
0.8
7.0

In [3]:
#beri nama variabel gak boleh angka dulu trs abjad, contoh pemberian nama variabel
a = "apel"
a2 = "pisang"
aa2 = "pepaya"
_a = "madu"

print(a)
print(a2)
print(aa2)
print(_a)

apel
pisang
pepaya
madu